asgiref
attrs
dj-database-url
Django
django-filter
djangorestframework
djangorestframework_simplejwt
drf-spectacular
drf-spectacular-sidecar
gunicorn
inflection
jsonschema
jsonschema-specifications
packaging
psycopg2-binary
PyJWT
python-decouple
python-dotenv
PyYAML
referencing
rpds-py
sqlparse
typing_extensions
uritemplate
